body {
    background-color: rgb(243, 243, 239);
    width: 100%;
    margin: 0 auto;
}

.sectionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    padding: 30px;
    width: 600px;
    margin: 50px auto;
}

.sectionWrapper h1:nth-child(2) {
    color: rgb(243, 41, 41);
}

.hidden {
    display: none;
}

.sectionWrapper li {
    display: flex;
    flex-direction: row;
}

.green {
    border: 1px solid green;
    background-color: green;
    width: 150px;
    height: 150px;
}

.green:hover {
    scale: 1.01;
}

.red {
    border: 1px solid red;
    background-color: red;
    width: 150px;
    height: 150px;
}

.red:hover {
    scale: 1.01;
}

.yellow {
    border: 1px solid yellow;
    background-color: yellow;
    width: 150px;
    height: 150px;
}

.yellow:hover {
    scale: 1.01;
}

.blue {
    border: 1px solid blue;
    background-color: blue;
    width: 150px;
    height: 150px;
}

.blue:hover {
    scale: 1.01;
}

#GameBegin {
    border: 1px solid black;
    border-radius: 15px;
    scale: 2;
    margin-top: 50px;
    transition: 0.2s;
}

#GameBegin:hover {
    scale: 2.1;
}